float fbm ( vec2 p ) {
    float v = 0.0;
    float AMP = 0.5;
    float MULT = 2.0;
    float AMP_MULT = 0.5;
    const int OCTAVES = 3;
    for ( int i = 0; i < OCTAVES; ++i ) {
        v += AMP * NOISE( p );
        AMP *= AMP_MULT;
        p *= MULT;
    }
    return v;
}