float rot_fbm_3 ( vec2 p, float a ) {
    float v = 0.0;
    vec2 s = vec2( 100.0 );
    mat2 r = rotate2d( a );
    v += 0.500000 * NOISE( p ); p = p * r * 2.0043 + s;
    v += 0.250000 * NOISE( p ); p = p * r * 2.0310 + s;
    v += 0.125000 * NOISE( p );
    return v;
}